.expence-filter{
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expence-filter h2{
    font-size: 1.4em;
    color:white;
    font-weight: 500;
}

.expence-filter select{
    width: 100px;
    height: 30px;
    font-size: 1.2em;
}